<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<div class="jumbotron">
    <form action="api/logout" method="GET">
        <div class="row">
            <div class="col-sm">
                <h1 class="text-success">Bienvenido {{userName}}</h1>
            </div>
            <div class="col-sm"></div>            
            <div class="col-sm">
                <button onclick="btnLogOut()" type="submit" name="logout"class="btn btn-warning" id="btnLogout">Desloguear</button>
            </div>
        </div>
    </form>
</div>

<div class="container mt-3">
        <div class="jumbotron">
            <h1>Ingrese Producto</h1>
            <br>
            <form autocomplete="off">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input id="nombre" class="form-control" type="text" name="title" required>
                </div>
                <div class="form-group">
                    <label for="precio">Precio</label>
                    <input id="precio" class="form-control" type="number" step="0.5" name="price" required>
                </div>
                <div class="form-group">
                    <label for="foto">Foto URL</label>
                    <input id="foto" class="form-control" type="text" name="thumbnail">
                </div>
                <button class="btn btn-success mt-3" name="enviar_prod">Enviar</button>
            </form>
            <hr>
            <button class="btn btn-info mt-3" onclick="location.href = '/api/productos/vista'">Vista handlebars productos</button>
            <br>
            <br>
            <div id="datos"></div>
        </div>

    <a href="./mensajes.html"><button class="btn btn-info mt-3"> Centro de Mensajes </button></a>
</div>
    <script src="js/index.js"></script>
